body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
.header {
    margin-left: 10%;
}
.data-container {
    margin: 20px auto;
    border: 1px solid #ccc;
    position: relative;
    width: 600px;
    height: 400px;
}
.bar {
    width: 28px;
    position: absolute;
    bottom: 0;
    background-color: #007bff;
    transition: all 0.2s ease;
}
.bar__id {
    position: absolute;
    bottom: -20px; /* Below the bar */
    left: 0;
    width: 100%;
    text-align: center;
}
.btn {
    margin: 10px;
    background-color: #6f42c1;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.btn::disabled {
    background-color: #ccc;
}